body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0rem 2rem;


}

#logo {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(238, 164, 80);
    margin: 0 30px;

}

.menu-button {
    width: 3rem;
    height: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-button span {

    width: 100%;
    height: 3px;
    background-color: white;

}

#main-header ul {
    display: flex;
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;

}

#main-header li a {
    margin: 0 3rem;
    color: rgb(213, 124, 22);
    justify-content: space-between;
}

#main-header li a:hover {
    color: rgb(250, 170, 9);
}

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 3rem;

}

#latest-products {
    width: 80%;
    margin: 2rem auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;


}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;

}

.food-item-content {
    padding: 3rem;
    text-align: center;

}

.btn {
    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: .5rem 1.5rem;


}

.btn:hover {
    background-color: rgb(221, 134, 34);
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 26, 27);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

#side-drawer a {
    color: rgb(253, 239, 213);
    font-size: 2rem;
    margin: 2rem 2rem;


}

#side-drawer li {
    margin: .5rem;

}

#side-drawer nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 .5rem;



}